:root {
  --bs-dark-rgb: 33,37,41;
  --bs-white-rgb: 255,255,255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 64.5%;
}

body {
  font-family: Helvetica, sans-serif;
  text-shadow: 0 0.05rem 0.1rem rgb(0 0 0 / 50%);
  background-color: rgba(var(--bs-dark-rgb), 1);
  color: rgba(var(--bs-white-rgb), 1);
}

h1 {
  color: #212529;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-ligth {
  background: #ccc;
}